<!DOCTYPE html>
<html>
<head>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.css">
<script src="https://code.jquery.com/jquery-2.2.4.js" integrity="sha256-iT6Q9iMJYuQiMWNd9lDyBUStIq/8PuOW33aOqmvFpqI=" crossorigin="anonymous"></script>
<script src="https://cdn.rawgit.com/lodash/lodash/3.0.1/lodash.min.js"></script>
<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-T8Gy5hrqNKT+hzMclPo118YTQO6cYprQmhrYwIiQ/3axmI1hQomh7Ud2hPOy8SP1" crossorigin="anonymous">
<link rel="stylesheet" href="assets/css/octocat.css">

  <meta charset="utf-8">
  <title>Team-TraRhon</title>
</head>
<body>
  <!-- NAV-BAR -->
  <div id="nav-container">
  <nav id="navbar">
        <form class="user-form">
         <input name="gh-login" type="text" placeholder="Search Github"></input>
       </form>

       <ul>
        <li>Pull Requests</li>
        <li>Issues</li>
        <li>Gist</li>
        <i class="fa fa-bell" aria-hidden="true"></i>
        <i class="fa fa-plus" aria-hidden="true"></i>
        <i class="fa fa-user" aria-hidden="true"></i>

   </nav>
 </div>
 </div>



  <!-- <div class="user-info">
  </div> -->

   <div id="container">

     <!-- Profile Column -->
     <div class="section group">
       <div class="col span_1_of_2">
         <div id="profile">

        <script id="gh-user-template" type="text/html">
        <img src="<%- m.avatar_url %>">
        <ul id="stats">
        <h1 class="user-name">
           <%- m.name %></h1>
         <h2 class="user-login">
           <%- m.login %></h2>
         <li><i class="fa fa-users" aria-hidden="true"></i><%- m.company %></li>
         <li><i class="fa fa-map-marker" aria-hidden="true"></i><%- m.location %></li>
         <li><i class="fa fa-envelope-o" aria-hidden="true"></i><a href=""></a><%- m.email %></li>
         <li><i class="fa fa-link" aria-hidden="true"></i><a href="<%- m.blog %>"><%- m.blog %></a></li>
         <li><i class="fa fa-clock-o" aria-hidden="true"></i><%- m.created_at %></li>
       </ul>
      </div>

       <div class="followers">
       <li><h2><%- m.followers%></h2><h3>Followers</h3></li>
       <li><h2>2</h2><h3>Starred</h3></li>
       <li><h2><%- m.following %></h2><h3>Following</h3></li>
      </div>
      </div>
      </script>
   <!-- </script> -->

       <!-- Repo area -->
       <div id="main-content">
       <div class="col span_1_of_2">

       <div id="repo-area">
         <nav id="repo-nav">
           <ul><!---  Rhonda added <li></li>  ---->
           <li class="contribution"><a href="#"><i class="fa fa-female" aria-hidden="true"></i>Contributions</a></li>
           <li class="repo"><a href=""><i class="fa fa-wpforms" aria-hidden="true"></i>Repositories</a></li>
           <li class="Pub-act"><a href=""><i class="fa fa-pause" aria-hidden="true"></i>Public Activity</a></li>
           <li><button id="follow" type="select"><i class="fa fa-female" aria-hidden="true"></i>Follow</button></li>
           <li><button id="block" type="select"><i class="fa fa-wpforms" aria-hidden="true"></i>Block or Report</button></li>
          </ul>
               </div>
         </nav>


         <ul id="repo-list">
           <!-- <script id="gh-repo-template" type="text/html"> -->

           <h3>Popular Repositories</h3>
           <li> <a  href="<%- m.name %>" class="repo-a"><span class="repo-title"></span><span class="repo-desc">The repo is for demonstration purposes only.</span>
           <span class="repo-star ">9,939</span></a></li>
           <li> <a href="" class="repo-a "><span class="repo-title "> Hello world</span><span class="repo-desc ">My first repository on github!</span>
           <span class="repo-star">9,939</span></a></li>
           <li> <a href="" class="repo-a "><span class="repo-title "> hello-world</span><span class="repo-desc ">My first repository on github!</span>
           <span class="repo-star">9,939</span></a></li>
           <li> <a href="" class="repo-a "><span class="repo-title "> octocat.github.io</span><span class="repo-desc ">The repo is for demonstration purposes only.</span>
           <span class="repo-star ">9,939</span></a></li>
           <li> <a href="" class="repo-a "><span class="repo-title "> git-consortium </span><span class="repo-desc ">The repo is for demonstration purposes only.</span>
           <span class="repo-star">9,939</span></a></li>

           <ul id="list-list">
             <li> <a  href="" class="list-a "><span class="list-title"> Spoon-Knife</span><span class="list-desc ">The repo is for demonstration purposes only.</span>
             <span class="list-star">9,939</span></a></li>
             <li> <a href="" class="list-a"><span class="list-title"> Hello world</span><span class="list-desc">My first repository on github!</span>
             <span class="list-star">9,939</span></a></li>
             <li> <a href="" class="list-a"><span class="list-title"> hello-world</span><span class="list-desc">My first repository on github!</span>
             <span class="list-star">9,939</span></a></li>
             <li> <a href="" class="list-a"><span class="list-title"> octocat.github.io</span><span class="list-desc">The repo is for demonstration purposes only.</span>
             <span class="list-star">9,939</span></a></li>
             <li> <a href="" class="list-a"><span class="list-title"> git-consortium </span><span class="list-desc">The repo is for demonstration purposes only.</span>
             <span class="list-star">9,939</span></a></li>
<!-- </script> -->


         </ul>
       </div>
      </div>
        </div>
       </div>
    </div>
</div>

  <script src="assets/js/octocat.js"></script>
  </body>
</html>
